---
import { Image } from "astro:assets";
import appleDlButton from '~/assets/dl-ios.png'
import androidDlButton from '~/assets/dl-android.png'
import { Platform } from "../content/config";
export interface Props {
  platform: Platform;
  class?: string;
}
const { platform, class: className } = Astro.props
const iosLink = 'https://apps.apple.com/jp/app/turbomk-for-マリオカート/id6501999098'
const androidLink = 'https://play.google.com/store/apps/details?id=com.turbo_mk.app'
---
{platform === Platform.iOS ? (
  <a
    href={iosLink}
    target="_blank"
    class={className}
  >
    <Image class="h-full w-auto" alt="iosアプリダウンロードボタンの画像" src={appleDlButton} />
  </a>
) : (
  <a
    href={androidLink}
    target="_blank"
    class={className}
  >
    <Image class="h-full w-auto" alt="androidアプリダウンロードボタンの画像" src={androidDlButton} />
  </a>
)}
